<%- include('partials/header') %>
<div class="row mt-5">
    <div class="col-lg-5 mx-auto">
        <div class="card shadow">
            <div class="card-header">
                <h2 class="fw-bold text-secondary">
                Forget Password?
                </h2>
            </div>
            <div class="card-body py-5">
                                  <!-- displaying a success messages -->
                                  <% if(message.success){ %>
                                    <div class="alert alert-success " role="alert">
                                        <strong><%= message.success %></strong>
                                    </div>
                                <%}  %>
                
                                  <!-- displaying an error message -->
                                  <% if(message.error){ %>
                                    <div class="alert alert-danger " role="alert">
                                        <strong><%= message.error %></strong>
                                    </div>
                                <%}  %>
                
               <form action="/forget-password" method="post">
                <div class="mb-3">
                    <label for="name">Email</label>
                    <input type="email" id="email" name="email" class="form-control">
                </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                    </div>
                      
                    <div class="text-center">
                        <p>Go back to? <a href="/login">Login</a></p>
                    </div>
               </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
