<%- include('../partials/header') %>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow">
                <div class="card-body p-5">
                    <img src="https://th.bing.com/th/id/OIP.mdutA3-zSXBOfYRzib9_jgHaEu?w=289&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="img-fluid " alt="">
                </div>
                <div class="lead mx-5 my-3 d-flex align-items-center fw-semibold justify-content-between text-secondary flex-wrap g-2">
                     <div>Author: Noudje ronny</div>
                     <div>Created: 12/06/2024</div>
                </div>
                <h1 class="text-secondary fw-bold mx-5">
                  walpaper  
                </h1>
                <p class="mx-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, maiores magnam o
                    dio esse voluptas exercitationem porro beatae nostrum earum minus sunt similique. Mollitia odio fugiat, nequ
                    e quos a eligendi blanditiis. Officia harum molestiae debitis! Cumque quas temporibus quibusda
                    m. Mollitia, fugiat tempore! Praesentium, consectetur. Vero enim hic facilis alias nobis fugiat?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, maiores magnam o
                    dio esse voluptas exercitationem porro beatae nostrum earum minus sunt similique. Mollitia odio fugiat, nequ
                    e quos a eligendi blanditiis. Officia harum molestiae debitis! Cumque quas temporibus quibusda
                    m. Mollitia, fugiat tempore! Praesentium, consectetur. Vero enim hic facilis alias nobis fugiat?
                </p>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
